/RegistroTemperaturas/nbproject/private/
/RegistroTemperaturas/build/
/TemperaturasPromedio/nbproject/private/
/TemperaturasPromedio/build/
/calcularDescuento/nbproject/private/
/calcularDescuento/build/
/TrabajoConDiccionarios/nbproject/private/
/TrabajoConDiccionarios/build/
/Curso_Fundamentos_Archivos/nbproject/private/
/Curso_Fundamentos_Archivos/build/
